include README.md LICENSE CITATION.cff CHANGELOG.md CONTRIBUTING.md
recursive-include src *.py
recursive-include tests/data *.npz *.json
recursive-include tests *.py
recursive-include tools *.py
recursive-include docs *.rst *.md *.py
recursive-include examples *.ipynb
include examples/README.md
recursive-include app *.py
recursive-include web *.html *.css *.js
recursive-include docs/_static *.png *.svg
